body{
    background-color:rgb(199, 163, 163);
}
#box1{
    width: 200;
    height: 200;
    background-color:goldenrod;
    font-size: 200;
    text-align: center;

    animation: 3s linear 0s infinite running MyRotate;
}

@keyframes MyRotate{
    100%{transform: rotateX(360deg)}
}